{% extends 'messenger/base.html' %}
{% block content %}
{% load static %}
{% load messenger_tags %}

<div class="container mt-5 mb-5">
    <h6 class="text-center display-6">Добавленные книги
        <strong> @{{ books.first.user }} </strong>
    </h6>
     <p>Здесь вы можете увидеть список  книг. Используйте эту страницу для отслеживания своих чтений
            и управления списком книг. Вы можете добавлять новые книги, отмечать прочитанные, а также удалять книги,
            которые больше не интересны</p>
      <hr class="mb-5">
    <div class="row  ">
        {% for i in books %}
        <div class="col-6 col-md-6 col-lg-3">
            <div class="card h-100">
                {% if i.photo %}
                <img src="{{i.photo.url}}" class="card-img-top  " style="object-fit: cover ; height:  300px" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <b>Автор:</b> {{i.author}}
                    <br>
                    <b> Жанр:</b> {% for genre in i.genre.all %}
                    {{ genre.name }}
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm " href="{{ i.get_absolute_url }}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}